@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply 
    bg-gray-100
    dark:bg-gray-900
    rounded-lg
    border-solid
    border-transparent
    border
    text-base
    font-medium
    py-3
    px-5
    cursor-pointer
    hover:border-blue-400
    focus-visible:outline
    focus-visible:outline-4
    transition-all;
  }
}

a {
  @apply text-blue-500 font-medium dark:hover:text-blue-700 hover:text-blue-500;
}

h1 {
  @apply p-3 text-5xl leading-5 font-bold my-8;
}
